@using BeautyAndThePet.Data.Models.Enumerations
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model BeautyAndThePet.Web.ViewModels.Pets.CreatePetInputModel
@{
    this.ViewData["Title"] = "Create new pet";

    var breeds = Model.Breeds.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<form method="post" class="col-md-6 offset-md-3 font h5" enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sex"></label>
        <select asp-for="Sex" class="form-control" asp-items="@Html.GetEnumSelectList<Sex>()"></select>
        <span asp-validation-for="Sex" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TypeOfPet"></label>
        <select asp-for="TypeOfPet" class="form-control" asp-items="@Html.GetEnumSelectList<TypeOfPet>()"></select>
        <span asp-validation-for="TypeOfPet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BreedId"></label>
        <select asp-for="BreedId" asp-items="breeds" class="form-control"></select> <!--id="myInput" onkeyup="myFunction()" -->
        <span asp-validation-for="BreedId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartOfPeriod"></label>
        <input asp-for="StartOfPeriod" class="form-control" />
        <span asp-validation-for="StartOfPeriod" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndOfPeriod"></label>
        <input asp-for="EndOfPeriod" class="form-control" />
        <span asp-validation-for="EndOfPeriod" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images"></label>
        <input asp-for="Images" class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
    <input type="submit" class="btn btn-warning" />
</form>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}