@using BeautyAndThePet.Data.Models.Enumerations
@model BeautyAndThePet.Web.ViewModels.Pets.EditPetInputModel
@{
    ViewData["Title"] = "Edit pet";
    var breeds = Model.Breeds.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<form method="post" id="editForm" class="col-md-6 offset-md-3 font">
    <h1>@ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sex"></label>
        <select asp-for="Sex" class="form-control" asp-items="@Html.GetEnumSelectList<Sex>()"></select>
        <span asp-validation-for="Sex" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TypeOfPet"></label>
        <select asp-for="TypeOfPet" class="form-control" asp-items="@Html.GetEnumSelectList<TypeOfPet>()"></select>
        <span asp-validation-for="TypeOfPet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BreedId"></label>
        <select asp-for="BreedId" class="form-control" asp-items="breeds"></select>
        <span asp-validation-for="BreedId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartOfPeriod"></label>
        <input asp-for="StartOfPeriod" class="form-control" />
        <span asp-validation-for="StartOfPeriod" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndOfPeriod"></label>
        <input asp-for="EndOfPeriod" class="form-control" />
        <span asp-validation-for="EndOfPeriod" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <hr />
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-warning">Save changes</button>
</form>



<!-- Modal -->
@*<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Do you confirm this changes?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@