@page
@model BeautyAndThePet.Web.Areas.Identity.Pages.Account.Manage.ChangeAddressModel
@{

    ViewData["Title"] = "Change Address";
    ViewData["ActivePage"] = ManageNavPages.ChangeAddress;
}

<h4 class="font">@ViewData["Title"]</h4>
<div class="row font">
    <div class="col-md-6">
        <form id="change-address-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewCountry"></label>
                <input asp-for="Input.NewCountry" class="form-control" />
                <span asp-validation-for="Input.NewCountry" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Input.NewTown"></label>
                <input asp-for="Input.NewTown" class="form-control" />
                <span asp-validation-for="Input.NewTown" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update info</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}