@if (this.User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <input type="text" class="dropbtn" placeholder="    Search user ..."  id="myInput" onkeyup="filterFunction()" onkeydown="filterFunction()">
        <div id="myDropdown" class="dropdown-content">
        </div>
    </div>
}