@{
    this.ViewData["Title"] = "Messages";
}
<h1>Messages</h1>
<hr />
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Messages" asp-action="NewEmpty">New</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Messages" asp-action="Received">Received</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Messages" asp-action="Sent">Sent</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Messages" asp-action="Unread">Unread</a></li>
</ul>