@using BeautyAndThePet.Web.ViewModels.Messages
@model MessageViewModel
@{
    this.ViewData["Title"] = "View message";
}

<div class="text-center">
    <p>From: @Model.From</p>
    <p>To: @Model.To</p>
    <p>Text: @Model.Text</p>
    <p>Sent on: @Model.SentOn</p>
</div>
    <a class="btn btn-primary" asp-controller="Messages" asp-action="Sent">Back</a>
