@using BeautyAndThePet.Web.ViewModels.Messages
@model MessagesListViewModel
@{
    this.ViewData["Title"] = "Unread messages";
}

@foreach (var message in Model.Messages)
{
    <div>
        <p>@message.From</p>
        <p>@message.Text</p>
        <p>@message.SentOn</p>
    </div>

    <input type="hidden" asp-for="@message.Id" />

    <hr />
}