@using BeautyAndThePet.Common
@model BeautyAndThePet.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h5 class="display-3 font-heading">
        <i class="fas fa-paw"></i>@GlobalConstants.SystemName!
    </h5>

    <h3 class="h4 font-heading">Pets dating pets!</h3>
    <a asp-controller="" asp-action="" class="btn btn-warning"></a>
    <a asp-controller="" asp-action="" class="btn btn-danger"></a>
    <a asp-controller="" asp-action="" class="btn btn-primary"></a>
    <hr />
    <p class="font h3">@Model.AboutUs</p>
    @if (this.User.Identity.IsAuthenticated)
    {
        <a asp-controller="Pets" asp-action="Create" class="btn btn-warning">Create pet</a>
        <a asp-controller="Pets" asp-action="MyPets" class="btn btn-primary">My pets</a>
        @*<a asp-controller="Speaker" asp-action="Index">Donate</a>*@


    }
    else
    {
        <p>
            To visit us, you must <a asp-area="Identity" asp-page="/Account/Register">register</a>
            or <a asp-area="Identity" asp-page="/Account/Login">login</a> if you already have an account
        </p>
        @*<a asp-controller="Speaker" asp-action="Index">Donate</a>*@
    }

</div>
