@using BeautyAndThePet.Common
@model BeautyAndThePet.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h5 class="display-3 font-heading">
        <i class="fas fa-paw"></i>@GlobalConstants.SystemName!
    </h5>
    <h3 class="h4 font-heading">Pets dating pets!</h3>
    <a asp-controller="" asp-action="" class="btn btn-warning"></a>
    <a asp-controller="" asp-action="" class="btn btn-danger"></a>
    <a asp-controller="" asp-action="" class="btn btn-primary"></a>
    <hr />
    <p class="font h3">@Model.AboutUs</p>
    @if (this.User.Identity.IsAuthenticated)
    {
        <a asp-controller="Pets" asp-action="Create" class="btn btn-warning">Create pet</a>
        <a asp-controller="Pets" asp-action="MyPets" class="btn btn-primary">My pets</a>
    }
    else
    {
        <h5>
            To visit us, you must <a class="login-or-register" asp-area="Identity" asp-page="/Account/Register">register</a>
            or <a class="login-or-register" asp-area="Identity" asp-page="/Account/Login">login</a> if you already have an account
        </h5>

    }
</div>
@section Scripts {
    <script>
        $(document).ready(
            getAllUsers(), filterFunction()
        );

        function getAllUsers() {
            $("#myInput").on('click', function (e) {
                e.preventDefault();
                var that = $(this);
                that.off('click');

                var ul = document.createElement('ul');
                ul.setAttribute("id", "myUL");
                
                $.ajax({
                    type: 'GET',
                    url: "/WebService/GetUsers",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        data.forEach(e => {
                            var li = document.createElement('li');
                            var a = document.createElement('a');
                            a.setAttribute('href', `/Users/ViewInfo/${e.Username}`);
                            a.innerHTML = e.Username;
                            li.innerHTML = a.outerHTML;
                            ul.appendChild(li);
                            var myDropdown = document.querySelector('#myDropdown');
                            myDropdown.appendChild(ul);
                            a.style.display = "none";
                        });
                    },
                    error: function (emp) {
                        alert('error');
                    }
                }).always(function () {
                    that.on('click', login); // add handler back after ajax
                });
            });
        }

        function filterFunction() {
            var input, filter, ul, li, a, i, txtValue;

            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();

            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");

            if (filter.length == 0) {
                document.getElementById("myDropdown").classList.remove("show");
            }
            else {

                document.addEventListener("click", function (evt) {
                    var flyoutElement = document.getElementById('myDropdown'),
                        targetElement = evt.target;  // clicked element

                    do {
                        if (targetElement == flyoutElement) {
                            // This is a click inside. Do nothing, just return.
                            document.getElementById("myDropdown").classList.toggle("show");
                            return;
                        }
                        // Go up the DOM
                        targetElement = targetElement.parentNode;
                    } while (targetElement);

                    // This is a click outside.
                    document.getElementById("myDropdown").classList.remove("show");
                });

                document.getElementById("myDropdown").classList.toggle("show");
                div = document.getElementById("myDropdown");
                a = div.getElementsByTagName("a");

                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
        }

        

    </script>
}
