@using BeautyAndThePet.Common
@model BeautyAndThePet.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Pets dating pets!</p>
    <p>@Model.AboutUs</p>
</div>
